.insight-container .success-container {

  background-color: #333;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:15px;
  justify-content: space-around;
}

.pressure-reading {
  width:210px;
  padding-left:10px;
  padding-right:10px;
  background-color: #282c34;
  color:white;
}

.rover-images-container, .rover-images-container .success-container {
  width:100%;
}


.rover-images-display-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.rover-image {
  width:400px;
  max-height:550px;
  background-color:#CCC;
  margin-top:15px;
  margin-bottom:15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
}

.rover-image > img {
  max-width:100%;
  max-height:400px;
}